@font-face {
    font-family: 'Black_Chancery';
    src: url('../assets/BLKCHCRY.TTF');
}

:root {
    --primaryColor: green;

}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer {
    background-image:url(../assets/4902211.jpg);
    background-size: cover;
    background-position: center;
}

h1, .navbar-brand {
    font-family: 'Black_Chancery';
}

